
#image1,#image2,#image3,#image4
{
    height: 340px;
    width:340px;
}
#image1
{
    transform: rotate(-10deg);
    margin-left: 400px;
    margin-top:200px;
    position:relative;
}
#image2
{
    transform: rotate(15deg);
    margin-top: 200px;
    position:relative;
}
#image3
{
    transform: rotate(25deg);
    margin-left:400px;
    position:relative;
}
#image4
{
    transform:rotate(-35deg);
    position:relative;
}
#first
{
    height:400px;
    width:600px;
    background: yellow;
    float:left;
}
#second
{
    height:400px;
    width:600px;
    background: green;
    float:left;
}
#fourth
{
    height:400px;
    width:600px;
    background:yellow;
    float:left;
}
#third
{
    height:400px;
    width:600px;
    background:green;
    float:left;
}
